* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #FFF;
  font-family: Arial, sans-serif;
  text-align: center;
  color: #F33A6A;
}

main {
  margin-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
p,
ol,
ul {
  margin: 0;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-color: #F33A6A;
  background-color: #FEF1F3;
  color: #F33A6A;
  border-radius: 27px;
}

#no {
  position: relative;
}

#yesResponse {
  display: none;
  flex-direction: column;
  width: max-content;
  height: max-content;
}

#yesResponse > .text {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 200px;
  height: 50px;
}
